.articulo-quienes-somos {
    margin-top: 100px;

}

.flex-quienes-somos {
    @include flex;
    align-items: center;
}

.imagen-quienes-somos {
    max-width: 500px;
}


.texto {
    text-align: center;
    color: green;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;

    h2 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }
}

@media screen and (max-width:425px) {
    .texto {
        h2 {
            font-size: 35px;
        }
    }
}

@media screen and (max-width:320px) {
    .texto {
        h2 {
            font-size: 12px;
        }
    }
}


@media screen and (max-width:768px) {
    .texto {
        h2 {
            font-size: 40px;
        }
    }
}