@mixin flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo{

    font-size: 50px;
    font-family: "pacifico";
    color: transparent;
    background-color: green;
    -webkit-background-clip: text;
    }

.fondo{
    background-color:lightgreen;
    margin: 15px;
    padding: 15px;
    border:solid 2px lightgreen;
    text-align: center;
    font-size: 38px;
    text-decoration: underline;
    color: green;
    margin-top: 30px;
    font-family: "pacifico";
    }

    .centrar{
    text-align: center;
    color: green;
    margin-top: 30px;
    }

.productos {
    margin-top: 100px;
    @include flex;
    img {
        width: 350px;
        margin: auto;
        cursor: pointer;
        transition: 1s;
        &:hover{
            transform: scale(1.5);
            transition: 1s;
        }
    }
    }
    